/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-may-2014, 19:49:56
    Author     : Graciano
*/


html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: tahoma, sans-serif;
    font-size: 11px;
    line-height: 20px;
    height: 100%;
    overflow: hidden
}

.hide{
    opacity: 1;
    -webkit-transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

#info {
    font-size: 11px;
    position: absolute;
    bottom: 5px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 3px;
    right: 10px;
    padding: 10px;

}

#currentInfo {
    width: 270px;
    position: absolute;
    left: 20px;
    top: 63px;

    background-color: rgba(0,0,0,0.2);

    border-top: 1px solid rgba(255,255,255,0.4);
    padding: 10px;
}

a {
    color: #aaa;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.bull {
    padding: 0 5px;
    color: #555;
}

.info{
    opacity: 1.0;
    -webkit-transition: all 0.5s ease-out;
}

#title {
    position: absolute;
    top: 20px;
    width: 300px;
    left: 20px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 10px;
    overflow: auto;
}

#ce span {
    display: none;
}

#ce {
    width: 107px;
    height: 55px;
    display: block;
    position: absolute;
    bottom: 15px;
    left: 20px;
    background: url(ce.png);
}

#text{
    position: absolute;
    top: 20px;
    width: 300px;
    right: 20px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 10px;
    overflow: auto;
    color: #ffffff
}
h1{ font: 20px Georgia; margin: 0 0 1em 0; color: #ffffff }
h2{ font: 14px Georgia; margin: 0 0 1em 0; color: #ffffff}
#toggle{ position: absolute; right: 10px; top: 10px; text-align: right }

#webgl
{ 
    background-color:#AFE7F7;
    background-color:#FFFFFF;
    position: absolute; 
    left: 0; 
    top: 0 
}

#descripcion
{
    color: #ffffff
}

#prevision
{
    color: #ffffff
}

#canvasMunicipio
{
    border:1px solid #d3d3d3
}

#sugerencias {width:200px; border:1px solid black; display:none; margin-left: 83px;}
#sugerencias ul {list-style: none; margin: 0; padding: 0; font-size:.85em;}
#sugerencias ul li {padding: .2em; border-bottom: 1px solid silver;}
.seleccionado {font-weight:bold; background-color: #FFFF00;}